.idea/
.idea_modules/
target/
lib_managed/
project/plugins/lib_managed/
project/plugins/src_managed/
project/boot/
test-out/
example-out/
it-out/
perf-out/
tmp/
.cache
.classpath
.project
.settings
.worksheet
benchmark/mvm-staged
/bin
/lms-backend/data/
/lms-backend/tests/data/
/lms-backend/core/data/
*.log
