.idea/
.idea_modules/
target/
lib_managed/
project/plugins/lib_managed/
project/plugins/src_managed/
project/boot/
test-out/
example-out/
it-out/
perf-out/
tmp/
.cache
.classpath
.project
.settings
.worksheet
benchmark/mvm-staged
/bin
# data/ directory created by LMS tests sometimes ends up in root
/lms-backend/**/data/
/data/
*.log
# Path to which runtime headers will be unpacked
scalan-runtime/